<div class="row">
  <div class="form-area col-md-4">
    <h2 class="form-title"><%= t('resend_unlock_instructions') %></h2>
    <div class="form-fields">
<%= form_for(resource, as: resource_name, url: user_unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, for: "exampleInputEmail1", class: "form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"exampleFormControlInput1" %>
  </div>

  <div class="actions submit-btn">
    <%= f.submit t('resend_unlock_instructions'), class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
    </div>
  </div>
</div>
